.header {
  text-shadow: 3px 5px 5px black; 
}

.headline {
  font-size: 70px;
  font-family: 'Tangerine', cursive;
  text-shadow: 3px 3px 5px #ff5252;
}
.firstname { 
  font-size: 60px;
  font-family: 'Anton', sans-serif;
  }
.nickname {
  font-size: 60px;
  font-family: 'Stalinist One', cursive;
}
.lastname { 
  font-size: 60px;
  font-family: 'Anton', sans-serif;
  }
.background {
  background: url("http://2.bp.blogspot.com/-zcnLL2AqTmc/Ufgsf1L4laI/AAAAAAAATvc/tE1u3fExovc/s1600/red+Waves+and+Lines+Vector+Background.jpg") center repeat fixed;
  background-color: darkred;    
}

/* FADING IMAGE */
.container {
  position: relative;
  width: 100%;
}
.row {
  opacity: 1;  
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
  transition: .15s ease;
  backface-visibility: hidden;  
}
.fadeInText {
  transition: .15s ease;
  opacity: 0; 
  top: 45%;
  left: 50%;
  position: absolute; 
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover .image {
  opacity: 1;
}
.container:hover .fadeInText {
  opacity: 1;
}
/*END FADING IMAGE */

ul#list-inline li {
  display: inline;
  line-height: 80%;
}
.flight {
  font-family: 'Mr Dafoe', cursive; 
  font-size: 110px;
  text-shadow: 5px 5px 5px black;
}
.game {
  font-family: 'Bungee Shade', cursive; 
  font-size: 80px;    
}
.left{
  text-shadow:5px 5px 5px black;
  text-align: left;  
}
.right{
  text-shadow:5px 5px 5px black;
  text-align: right;  
}
.jumbotron {
  background: url("");  
}
.list {
  background: url(""); 
}
.court {
  background: url("http://wallpapers4screen.com/Uploads/5-11-2016/33848/thumb2-michael-jordan-4k-basketball-stars-nba-basketball-players.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center; 
}
.blackMarble {
  background: url("http://www.modafinilsale.com/data/out/106/235445893-jordan-wallpapers-download.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 3px 5px 5px red;  
}
.description{
  text-shadow: 3px 5px 5px black;  
}
.slideshow {
  background: url("http://2.bp.blogspot.com/-zcnLL2AqTmc/Ufgsf1L4laI/AAAAAAAATvc/tE1u3fExovc/s1600/red+Waves+and+Lines+Vector+Background.jpg");
}

/* SLIDESHOW */
* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 920px;
  position: relative;
  margin: auto;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}/* END SLIDESHOW */
#footer {
    text-align: justify; 
    text-color: black;
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
}
.social-p {
    font-family: Arial;
    line-height: 50%;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
} 

